* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color:#454545;
  color: #fff;
  padding: 13px;
  font-size: 55px;
  text-decoration: none;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  text-align: center;
  text-decoration: whitesmoke;
  background-color: #454545;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

.name:hover{
  transform: scale(1.2);
  transition: 2s ease-in-out;
  color: #fff;
}

/* ---------template-------- */

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  justify-content: center;
}

.card {
  width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: #454545;
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="desc"],
select,
button[type="submit"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

/* post--------------------------------- */

.container {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 20px;
  gap: 20px;
  
}

.card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;   
}

h2 {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

label {
  margin-left: 5px;
}

.rental-posts {
  max-height: 400px;
  overflow-y: auto;
  padding: 20px;
  background-color: #7b7a7a;
  padding: 20px;
  
}
.rental-posts h2{
  color: rgb(255, 255, 255);
  font-size: 40px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(800px, 1fr));
  gap: 20px;
  background-color: #7b7a7a;
  padding: 20px;
}

.card {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.card:hover{
  transform: scale(1.03);
    transition: 2s ease-in-out;
}
.contract_home {
  text-decoration: none;
  color: white;
  background-color: rgb(54, 121, 162);
  border-radius: 5px;
  padding-left: 10px;
  /* padding-top: 5px;
  padding-bottom: 5px; */
  padding-right: 10px;
  font-size: 20px;
}
.contract_home:hover{
  background: linear-gradient( rgb(186, 29, 74), rgb(241, 112, 112));
  color: white;
  border-radius: 5px;
}

  